In [ ]:
#Importer les librairies necessaires pour notre traitement
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

### **Explorer nos donn√©es**: üëÅ

In [ ]:
#Charger les donn√©es
df = pd.read_csv("/content/Assets.csv", delimiter=',')
display(df)

,id_pays,Country,Investment Type,2005,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,USA,Direct investment,"4 047 170,00","4 929 892,00","5 857 923,00","3 707 211,00","4 945 292,00","5 486 391,00","5 214 826,00",...,"7 120 688,00","7 242 129,00","7 057 108,00","7 403 191,00","8 893 940,00","7 417 363,00","8 668 834,00","9 349 445,00","10 925 509,00","9 276 999,00"
1,1,USA,Equity and investment fund shares,"3 449 302,00","4 294 301,00","5 090 968,00","2 928 147,00","4 097 179,00","4 620 850,00","4 320 052,00",...,"6 054 227,00","6 059 586,00","5 812 337,00","6 185 809,00","7 683 805,00","6 139 070,00","7 485 964,00","8 193 782,00","9 726 799,00","8 076 997,00"
2,1,USA,Direct investor in direct investment enterprises,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,1,USA,Debt instruments,"597 868,00","635 591,00","766 955,00","779 064,00","848 113,00","865 541,00","894 774,00",...,"1 066 461,00","1 182 543,00","1 244 771,00","1 217 382,00","1 210 135,00","1 278 293,00","1 182 870,00","1 155 663,00","1 198 710,00","1 200 003,00"
4,1,USA,Portfolio investment,"4 628 978,00","6 017 080,00","7 262 045,00","4 320 819,00","6 058 554,00","7 160 366,00","6 871 732,00",...,"9 130 080,00","9 627 215,00","9 439 896,00","9 882 284,00","12 413 733,00","11 322 472,00","13 124 173,00","14 399 252,00","16 313 926,00","14 073 941,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,8,Ukraine,Central bank,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,8,Ukraine,General government,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,8,Ukraine,Financial derivatives (other than reserves) an...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,8,Ukraine,Other investment,"22 797,00","34 360,00","51 675,00","67 915,00","78 667,00","K 90,798.00","99 840,00",...,"107 800,00","105 242,00","103 311,00","100 703,00","102 284,00","104 315,00","110 662,00","115 968,00","123 657,00","135 562,00"
111,8,Ukraine,Reserve assets,"19 391,01","22 256,49","32 462,82","31 542,64","26 504,61","K 34,575.99","31 794,94",...,"20 415,98","7 532,77","13 299,85","15 538,88","18 808,80","20 819,87","25 302,20","29 132,87","30 940,96","28 494,54"

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_pays          112 non-null    int64
 1   Country          112 non-null    object
 2   Investment Type  112 non-null    object
 3   2005             112 non-null    object
 4   2006             112 non-null    object
 5   2007             112 non-null    object
 6   2008             112 non-null    object
 7   2009             112 non-null    object
 8   2010             112 non-null    object
 9   2011             112 non-null    object
 10  2012             112 non-null    object
 11  2013             112 non-null    object
 12  2014             112 non-null    object
 13  2015             112 non-null    object
 14  2016             112 non-null    object
 15  2017             112 non-null    object
 16  2018             112 non-null    object
 17  2019             112 non-null    object
 18  2020             112 non-null    object
 19  2021             98 non-null     object
 20  2022             98 non-null     object
dtypes: int64(1), object(20)
memory usage: 18.5+ KB

**This data report uses the IIP Standard Presentation format as defined in the 6th Edition of the Balance of Payments Manual (BPM6).**



---


*   (-) Indicates that a figure is zero
*   (...) Indicates a lack of statistical data that can be reported or calculated from underlying observations
*   (K) indicates the splice point between official BPM6-basis estimates and IMF converted BPM5-basis estimates

In [ ]:
#Missing values & null values & (K)
years = [2004 + i for i in range(1,18)]
for y in years:
  df[str(y)] = df[str(y)].replace('...', None)
  df[str(y)] = df[str(y)].replace('-', 0)
  df[str(y)] = df[str(y)].str.replace('K', '').replace(',', '')

In [ ]:
display(df)

,id_pays,Country,Investment Type,2005,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,USA,Direct investment,"4 047 170,00","4 929 892,00","5 857 923,00","3 707 211,00","4 945 292,00","5 486 391,00","5 214 826,00",...,"7 120 688,00","7 242 129,00","7 057 108,00","7 403 191,00","8 893 940,00","7 417 363,00","8 668 834,00","9 349 445,00","10 925 509,00","9 276 999,00"
1,1,USA,Equity and investment fund shares,"3 449 302,00","4 294 301,00","5 090 968,00","2 928 147,00","4 097 179,00","4 620 850,00","4 320 052,00",...,"6 054 227,00","6 059 586,00","5 812 337,00","6 185 809,00","7 683 805,00","6 139 070,00","7 485 964,00","8 193 782,00","9 726 799,00","8 076 997,00"
2,1,USA,Direct investor in direct investment enterprises,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,...
3,1,USA,Debt instruments,"597 868,00","635 591,00","766 955,00","779 064,00","848 113,00","865 541,00","894 774,00",...,"1 066 461,00","1 182 543,00","1 244 771,00","1 217 382,00","1 210 135,00","1 278 293,00","1 182 870,00","1 155 663,00","1 198 710,00","1 200 003,00"
4,1,USA,Portfolio investment,"4 628 978,00","6 017 080,00","7 262 045,00","4 320 819,00","6 058 554,00","7 160 366,00","6 871 732,00",...,"9 130 080,00","9 627 215,00","9 439 896,00","9 882 284,00","12 413 733,00","11 322 472,00","13 124 173,00","14 399 252,00","16 313 926,00","14 073 941,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,8,Ukraine,Central bank,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,...
108,8,Ukraine,General government,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,...
109,8,Ukraine,Financial derivatives (other than reserves) an...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,...
110,8,Ukraine,Other investment,"22 797,00","34 360,00","51 675,00","67 915,00","78 667,00","90,798.00","99 840,00",...,"107 800,00","105 242,00","103 311,00","100 703,00","102 284,00","104 315,00","110 662,00","115 968,00","123 657,00","135 562,00"
111,8,Ukraine,Reserve assets,"19 391,01","22 256,49","32 462,82","31 542,64","26 504,61","34,575.99","31 794,94",...,"20 415,98","7 532,77","13 299,85","15 538,88","18 808,80","20 819,87","25 302,20","29 132,87","30 940,96","28 494,54"

**Extraire les KPI qui nous int√©ressent et supprimer les lignes qui n'impacteront pas notre √©tude**

In [ ]:
# Identifier les lignes dupliqu√©es pour "Equity and investment fund shares"
duplicates_mask = (df['Investment Type'] == "Equity and investment fund shares") & df.duplicated(subset=['Investment Type'], keep='first')

# Supprimer les lignes correspondantes
df = df[~duplicates_mask]

# R√©initialiser les index si n√©cessaire
df.reset_index(drop=True, inplace=True)

# Supprimer les lignes avec les types d'investissement sp√©cifi√©s
types_a_supprimer = ["Debt instruments", "Central bank", "General government", "Debt securities"]
df = df[~df['Investment Type'].isin(types_a_supprimer)]

# R√©initialiser les index si n√©cessaire
df.reset_index(drop=True, inplace=True)

In [ ]:
display(df)

,id_pays,Country,Investment Type,2005,2006,2007,2008,2009,2010,2011,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,USA,Direct investment,"4 047 170,00","4 929 892,00","5 857 923,00","3 707 211,00","4 945 292,00","5 486 391,00","5 214 826,00",...,"7 120 688,00","7 242 129,00","7 057 108,00","7 403 191,00","8 893 940,00","7 417 363,00","8 668 834,00","9 349 445,00","10 925 509,00","9 276 999,00"
1,1,USA,Equity and investment fund shares,"3 449 302,00","4 294 301,00","5 090 968,00","2 928 147,00","4 097 179,00","4 620 850,00","4 320 052,00",...,"6 054 227,00","6 059 586,00","5 812 337,00","6 185 809,00","7 683 805,00","6 139 070,00","7 485 964,00","8 193 782,00","9 726 799,00","8 076 997,00"
2,1,USA,Direct investor in direct investment enterprises,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,...
3,1,USA,Portfolio investment,"4 628 978,00","6 017 080,00","7 262 045,00","4 320 819,00","6 058 554,00","7 160 366,00","6 871 732,00",...,"9 130 080,00","9 627 215,00","9 439 896,00","9 882 284,00","12 413 733,00","11 322 472,00","13 124 173,00","14 399 252,00","16 313 926,00","14 073 941,00"
4,1,USA,Financial derivatives (other than reserves) an...,"1 190 029,00","1 238 995,00","2 559 332,00","6 127 450,00","3 489 779,00","3 652 313,00","4 716 578,00",...,"3 017 100,00","3 252 308,00","2 443 371,00","2 220 453,00","1 560 816,00","1 449 590,00","1 790 402,00","2 545 955,00","1 982 966,00","2 543 343,00"
5,1,USA,Other investment,"3 302 781,00","4 004 691,00","4 748 656,00","4 974 882,00","4 529 716,00","4 980 804,00","4 869 469,00",...,"4 353 632,00","4 251 213,00","3 977 771,00","3 990 657,00","4 263 877,00","4 468 262,00","4 747 358,00","5 101 197,00","5 087 208,00","5 030 632,00"
6,1,USA,Reserve assets,"188 042,63","219 853,42","277 211,39","293 732,44","403 804,01","488 673,62","537 035,60",...,"448 333,04","434 250,98","383 601,29","405 784,83","449 702,67","449 069,97","514 411,14","627 306,34","712 332,06","706 914,89"
7,2,Japan,Direct investment,"390 597,34","454 838,80","547 507,15","690 817,25","753 199,71","846 218,60","972 267,61",...,"1 132 970,05","1 177 193,31","1 260 182,53","1 360 318,17","1 551 295,30","1 641 088,08","1 871 045,17","2 022 557,11","2 050 818,58","2 071 231,98"
8,2,Japan,Direct investor in direct investment enterprises,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,...
9,2,Japan,Portfolio investment,"2 114 889,38","2 343 483,33","2 523 566,69","2 376 660,00","2 845 851,79","3 305 177,96","3 379 291,51",...,"3 430 706,07","3 299 524,60","3 417 360,99","3 779 292,03","4 106 257,04","4 068 775,05","4 536 099,21","5 071 831,73","5 077 960,56","4 005 202,19"
10,2,Japan,Financial derivatives (other than reserves) an...,"26 314,67","23 026,94","38 961,12","77 377,09","46 179,58","52 628,63","53 884,05",...,"77 943,17","466 578,37","374 106,43","372 010,79","300 088,85","289 969,35","314 344,47","431 319,66","311 209,74","578 711,83"
11,2,Japan,Other investment,"920 099,47","981 067,01","1 282 693,21","1 562 007,71","1 342 593,71","1 592 393,94","1 803 805,77",...,"1 665 663,34","1 517 381,55","1 503 080,23","1 712 079,22","1 756 779,41","1 920 142,00","1 948 118,46","2 175 875,66","2 151 026,07","2 211 018,20"
12,2,Japan,Reserve assets,"842 979,91","894 791,23","967 392,03","1 024 639,15","1 053 877,59","1 105 217,61","1 293 386,17",...,"1 268 023,42","1 252 494,34","1 232 756,15","1 220 418,32","1 261 272,09","1 265 290,43","1 323 107,23","1 387 859,93","1 415 653,98","1 222 571,38"
13,3,Germany,Direct investment,"996 717,91","1 235 955,77","1 545 285,45","1 459 591,30","1 605 282,19","1 634 923,54","1 696 190,33",...,"2 103 930,14","1 995 930,62","1 958 382,95","1 992 210,00","2 390 539,50","2 470 659,25","2 617 700,62","2 999 790,75","2 986 671,86","3 031 351,86"
14,3,Germany,Direct investor in direct investment enterprises,"824 807,31","1 036 916,24","1 309 826,00","1 179 869,34","1 291 800,43","1 320 526,37","1 358 754,15",...,"1 595 782,81","1 505 154,98","1 461 293,42","1 494 932,00","1 782 958,53","1 887 794,71","2 013 613,62","2 286 995,35","2 253 849,08","2 280 101,75"
15,3,Germany,Portfolio investment,"1 817 915,34","2 266 372,62","2 624 808,77","2 149 161,95","2 507 865,63","2 555 685,60","2 380 350,31",...,"3 083 616,57","3 075 741,45","2 905 617,28","2 976 786,83","3 654 393,03","3 436 662,54","3 867 710,05","4 499 990,44","4 586 438,78","3 739 707,59"
16,3,Germany,Financial derivatives (other than reserves) an...,None,None,None,None,None,"1 047 828,00","1 185 264,16",...,"868 024,85","960 752,54","724 284,89","644 450,39","569 878,58","487 521,54","702 162,07","1 031 031,51","806 820,07","1 640 330,54"
17,3,Germany,Other investment,"2 099 205,37","2 631 750,56","3 370 009,34","3 349 511,55","3 260 102,29","3 284 403,65","3 361 786,40",...,"3 338 864,54","3 077 549,24","2 830 929,19","2 930 993,57","3 425 866,41","3 458 860,66","3 416 635,74","4 088 746,28","4 240 875,73","4 137 724,31"
18,3,Germany,Reserve assets,"101 675,67","111 637,67","136 234,13","138 044,18","180 847,84","216 496,43","238 853,74",...,"198 207,23","192 750,11","173 683,65","185 286,60","200 089,96","198 229,92","223 832,28","268 777,25","296 038,72","294 706,48"
19,4,China,Direct investment,"551 008,71","759 802,17","1 107 964,37","858 421,26","928 946,30","1 039 043,15","1 129 058,79",...,"1 352 095,96","1 593 516,21","1 707 091,54","1 744 500,39","2 037 735,09","2 051 477,28","2 015 466,55","2 117 931,38","2 199 838,04","2 179 933,15"
20,4,China,Direct investor in direct investment enterprises,"411 005,48","604 291,59","941 210,02","675 517,71","749 282,70","849 567,30","912 865,11",...,"1 095 353,84","1 297 144,48","1 355 348,82","1 385 848,59","1 640 663,04","1 654 261,30","1 630 652,63","1 733 396,75","1 825 219,42","1 795 750,00"
21,4,China,Portfolio investment,"436 598,65","580 551,55","778 579,89","557 156,44","811 482,05","929 450,90","825 764,08",...,"1 121 244,21","1 170 486,24","1 258 695,31","1 367 234,72","1 723 972,61","1 592 824,61","1 819 545,78","2 192 641,82","2 118 193,64","1 822 200,82"
22,4,China,Financial derivatives (other than reserves) an...,"17 192,91","22 535,73","47 890,66","87 131,28","48 897,43","58 768,92","69 440,99",...,"73 259,56","80 395,98","82 717,12","110 664,04","78 952,65","80 581,06","78 989,47","114 157,36","104 539,75","161 006,92"
23,4,China,Other investment,"441 059,79","513 673,03","733 908,74","680 400,88","631 665,66","703 805,26","803 815,34",...,"898 546,72","1 003 697,38","956 858,27","1 000 483,49","1 206 417,84","1 281 858,69","1 286 143,70","1 374 812,98","1 482 058,48","1 488 535,09"
24,4,China,Reserve assets,"114 147,44","126 702,04","139 452,41","164 199,08","245 464,25","256 907,20","270 492,30",...,"311 194,55","328 482,85","358 807,01","386 199,03","431 551,68","424 418,15","441 621,54","491 828,71","496 758,56","423 863,12"
25,5,Russian Federeation,Direct investment,"140 775,21","234 631,57","365 797,39","198 437,04","298 357,01","361 120,69","361 750,02",...,"479 501,12","414 413,29","375 034,33","426 608,32","477 213,39","435 862,04","501 156,74","471 840,12","487 003,98","381 194,39"
26,5,Russian Federeation,Direct investor in direct investment enterprises,"139 045,71","231 120,35","350 849,30","182 056,47","272 600,97","314 323,47","287 214,10",...,"400 362,06","326 544,60","286 253,08","329 277,74","372 411,45","329 808,36","390 767,46","370 670,00","392 291,76","297 711,68"
27,5,Russian Federeation,Portfolio investment,"17 774,73","12 248,10","19 935,53","24 221,35","38 155,78","36 656,32","42 434,94",...,"53 743,44","56 629,52","68 118,70","72 060,18","73 945,51","68 551,09","80 294,40","107 873,51","117 412,98","80 640,92"
28,5,Russian Federeation,Financial derivatives (other than reserves) an...,"50,90","222,10","1 423,40","5 302,00","2 240,16","1 639,25","5 674,94",...,"5 931,87","17 564,81","11 145,74","6 856,53","4 853,40","6 406,96","5 362,13","6 735,53","6 444,19","1 281,72"
29,5,Russian Federeation,Other investment,"175 090,41","204 139,10","227 493,24","351 894,03","309 507,41","292 357,45","336 391,84",...,"425 826,81","404 131,82","355 240,56","357 806,99","357 992,62","364 296,14","373 134,01","386 862,88","410 411,58","548 801,45"
30,5,Russian Federeation,Reserve assets,"182 240,35","303 731,87","478 762,37","426 283,03","439 446,60","479 373,97","498 644,90",...,"509 592,54","385 458,87","368 397,83","377 738,08","432 731,04","468 477,85","554 346,04","595 772,04","630 624,22",...
31,6,Morocco,Direct investment,"665,63","1 053,64","1 337,14","1 699,09","1 861,38","1 913,98","2 018,57",...,"2,554.72","4 186,97","4 557,27","5 203,35","5 336,16","5 418,22","6 446,73","7 323,41","7 297,03","7 065,98"
32,6,Morocco,Direct investor in direct investment enterprises,"534,74","983,94","1 245,62","1 551,81","1 799,33","1 853,51","1 893,52",...,"2,173.50","3 807,82","3 999,55","4 738,97","4 761,44","4 942,36","5 927,14","6 683,52","6 624,28","6 211,22"
33,6,Morocco,Portfolio investment,"175,54","178,45","915,82","1 022,19","724,14","961,55","796,80",...,759.59,"1 207,20","1 462,48","1 761,54","1 313,85","1 161,83","1 184,92","1 422,32","1 314,08","1 089,58"
34,6,Morocco,Financial derivatives (other than reserves) an...,None,None,None,None,None,None,None,...,10.64,"98,01","115,85","111,78","26,28","36,51","20,98","35,27","70,93","63,03"
35,6,Morocco,Other investment,"3 969,23","4 735,54","5 710,24","4 885,12","4 585,22","3 341,06","4 052,92",...,"4,533.09","5 569,69","5 603,70","5 848,21","8 275,81","7 750,24","8 351,42","10 205,54","9 655,78","10 063,76"
36,6,Morocco,Reserve assets,"16 460,81","20 814,31","24 715,57","22 764,04","23 579,44","23 612,50","20 642,05",...,"19,255.53","20 405,28","23 008,32","25 364,56","26 189,59","24 436,18","26 412,58","35 999,40","35 648,10","32 316,79"
37,7,Saudi Arabia,Direct investment,"17,047.47","20 444,00","22 621,20","26 528,00","29 957,92","34 359,47","39 302,76",...,"63 120,51","73 972,90","84 436,96","104 613,05","123 904,37","128 815,30","153 175,21","169 343,70",NaN,NaN
38,7,Saudi Arabia,Direct investor in direct investment enterprises,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
39,7,Saudi Arabia,Portfolio investment,"104,946.99","98 592,47","121 536,88","146 168,07","158 197,34","167 531,60","178 178,49",...,"204 160,84","199 497,04","217 797,29","247 589,03","283 146,12","332 365,91","382 073,23","387 997,14",NaN,NaN
40,7,Saudi Arabia,Financial derivatives (other than reserves) an...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
41,7,Saudi Arabia,Other investment,"67,761.80","69 115,51","81 710,88","89 763,28","91 704,59","77 435,15","84 705,99",...,"111 260,91","130 166,22","187 787,59","214 918,19","253 220,26","233 289,58","260 206,85","329 034,06",NaN,NaN
42,7,Saudi Arabia,Reserve assets,"305,639.17","442 664,43","410 108,53","445 136,65","544 014,78","656 573,99","725 724,83",...,"616 418,02","535 797,17","496 423,36","496 589,04","499 576,16","453 641,16","455 417,27","459 839,87",NaN,NaN
43,8,Ukraine,Direct investment,"468,00","344,00","6 379,00","7 089,00","5 906,00","6,548.00","6 960,00",...,"7 998,00","7 967,00","3 265,00","3 261,00","3 438,00","3 524,00","4 343,00","3 958,00","3 885,00","2 837,00"
44,8,Ukraine,Direct investor in direct investment enterprises,"219,00","221,00","6 256,00","6 971,00","5 783,00","6,425.00","6 456,00",...,"7 703,00","7 456,00","2 793,00","2 660,00","2 627,00","2 600,00","3 417,00","2 755,00","2 260,00","1 680,00"
45,8,Ukraine,Portfolio investment,"56,00","63,00","103,00","49,00","79,00",94.00,"108,00",...,"176,00","188,00","173,00","96,00","98,00","129,00","546,00","703,00","616,00","1 281,00"
46,8,Ukraine,Financial derivatives (other than reserves) an...,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,...
47,8,Ukraine,Other investment,"22 797,00","34 360,00","51 675,00","67 915,00","78 667,00","90,798.00","99 840,00",...,"107 800,00","105 242,00","103 311,00","100 703,00","102 284,00","104 315,00","110 662,00","115 968,00","123 657,00","135 562,00"
48,8,Ukraine,Reserve assets,"19 391,01","22 256,49","32 462,82","31 542,64","26 504,61","34,575.99","31 794,94",...,"20 415,98","7 532,77","13 299,85","15 538,88","18 808,80","20 819,87","25 302,20","29 132,87","30 940,96","28 494,54"

### *Effectuer une op√©ration de Pivot *

In [ ]:
# Utiliser la fonction `melt` pour convertir les colonnes 2005 √† 2022 en une seule colonne 'date'
df_melted = pd.melt(df, id_vars=['id_pays', 'Country', 'Investment Type'], var_name='date', value_name='valeur')

# Utiliser la fonction `pivot` pour obtenir les types d'investissement comme colonnes
df = df_melted.pivot_table(index=['id_pays', 'Country', 'date'], columns='Investment Type', values='valeur', aggfunc='sum').reset_index()

In [ ]:
display(df)

Investment Type,id_pays,Country,date,Direct investment,Direct investor in direct investment enterprises,Equity and investment fund shares,Financial derivatives (other than reserves) and employee stock options,Other investment,Portfolio investment,Reserve assets
0,1,USA,2005,"4 047 170,00",0,"3 449 302,00","1 190 029,00","3 302 781,00","4 628 978,00","188 042,63"
1,1,USA,2006,"4 929 892,00",0,"4 294 301,00","1 238 995,00","4 004 691,00","6 017 080,00","219 853,42"
2,1,USA,2007,"5 857 923,00",0,"5 090 968,00","2 559 332,00","4 748 656,00","7 262 045,00","277 211,39"
3,1,USA,2008,"3 707 211,00",0,"2 928 147,00","6 127 450,00","4 974 882,00","4 320 819,00","293 732,44"
4,1,USA,2009,"4 945 292,00",0,"4 097 179,00","3 489 779,00","4 529 716,00","6 058 554,00","403 804,01"
...,...,...,...,...,...,...,...,...,...,...
139,8,Ukraine,2018,"3 524,00","2 600,00",NaN,0,"104 315,00","129,00","20 819,87"
140,8,Ukraine,2019,"4 343,00","3 417,00",NaN,0,"110 662,00","546,00","25 302,20"
141,8,Ukraine,2020,"3 958,00","2 755,00",NaN,0,"115 968,00","703,00","29 132,87"
142,8,Ukraine,2021,"3 885,00","2 260,00",NaN,0,"123 657,00","616,00","30 940,96"
143,8,Ukraine,2022,"2 837,00","1 680,00",NaN,...,"135 562,00","1 281,00","28 494,54"

# **Convertir nos donn√©es en format num√©rique**

In [ ]:
# Supprimer les espaces dans les colonnes num√©riques
numeric_columns = ['Direct investment', 'Direct investor in direct investment enterprises', 'Equity and investment fund shares', 'Financial derivatives (other than reserves) and employee stock options', 'Other investment', 'Portfolio investment', 'Reserve assets']

for col in numeric_columns:
    df[col] = df[col].str.replace(' ', '')
    df[col] = df[col].str.replace(',', '.')
    df[col] = pd.to_numeric(df[col], errors='coerce')
#convertir en datetime
df['date'] = pd.to_datetime(df['date'], format='%Y')
df['date'] = df['date'].dt.year

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 10 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   id_pays                                                                 144 non-null    int64
 1   Country                                                                 144 non-null    object
 2   date                                                                    144 non-null    int64
 3   Direct investment                                                       139 non-null    float64
 4   Direct investor in direct investment enterprises                        88 non-null     float64
 5   Equity and investment fund shares                                       18 non-null     float64
 6   Financial derivatives (other than reserves) and employee stock options  95 non-null     float64
 7   Other investment                                                        139 non-null    float64
 8   Portfolio investment                                                    141 non-null    float64
 9   Reserve assets                                                          138 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 11.4+ KB

In [ ]:
display(df)

Investment Type,id_pays,Country,date,Direct investment,Direct investor in direct investment enterprises,Equity and investment fund shares,Financial derivatives (other than reserves) and employee stock options,Other investment,Portfolio investment,Reserve assets
0,1,USA,2005,4047170.0,NaN,3449302.0,1190029.0,3302781.0,4628978.0,188042.63
1,1,USA,2006,4929892.0,NaN,4294301.0,1238995.0,4004691.0,6017080.0,219853.42
2,1,USA,2007,5857923.0,NaN,5090968.0,2559332.0,4748656.0,7262045.0,277211.39
3,1,USA,2008,3707211.0,NaN,2928147.0,6127450.0,4974882.0,4320819.0,293732.44
4,1,USA,2009,4945292.0,NaN,4097179.0,3489779.0,4529716.0,6058554.0,403804.01
...,...,...,...,...,...,...,...,...,...,...
139,8,Ukraine,2018,3524.0,2600.0,NaN,NaN,104315.0,129.0,20819.87
140,8,Ukraine,2019,4343.0,3417.0,NaN,NaN,110662.0,546.0,25302.20
141,8,Ukraine,2020,3958.0,2755.0,NaN,NaN,115968.0,703.0,29132.87
142,8,Ukraine,2021,3885.0,2260.0,NaN,NaN,123657.0,616.0,30940.96
143,8,Ukraine,2022,2837.0,1680.0,NaN,NaN,135562.0,1281.0,28494.54

# **G√©rer les donn√©es NaN**

In [ ]:
# Compter les NaN dans l'ensemble du DataFrame
total_nan = df.isna().sum().sum()

# Compter les NaN par colonne
nan_by_column = df.isna().sum()

# Afficher les r√©sultats
print(f"Nombre total de NaN dans le DataFrame : {total_nan}")
print("\nNombre de NaN par colonne :")
print(nan_by_column)

Nombre total de NaN dans le DataFrame : 250

Nombre de NaN par colonne :
Investment Type
id_pays                                                                     0
Country                                                                     0
date                                                                        0
Direct investment                                                           5
Direct investor in direct investment enterprises                           56
Equity and investment fund shares                                         126
Financial derivatives (other than reserves) and employee stock options     49
Other investment                                                            5
Portfolio investment                                                        3
Reserve assets                                                              6
dtype: int64

In [ ]:
# Remplacer les NaN par la moyenne de la colonne
for col in df.columns:
    if df[col].dtype == 'float64':
        df[col].fillna(df[col].mean(), inplace=True)
        df[col] = df[col].round(2)
display(df)

Investment Type,id_pays,Country,date,Direct investment,Direct investor in direct investment enterprises,Equity and investment fund shares,Financial derivatives (other than reserves) and employee stock options,Other investment,Portfolio investment,Reserve assets
0,1,USA,2005,4047170.0,632685.1,3449302.0,1190029.00,3302781.0,4628978.0,188042.63
1,1,USA,2006,4929892.0,632685.1,4294301.0,1238995.00,4004691.0,6017080.0,219853.42
2,1,USA,2007,5857923.0,632685.1,5090968.0,2559332.00,4748656.0,7262045.0,277211.39
3,1,USA,2008,3707211.0,632685.1,2928147.0,6127450.00,4974882.0,4320819.0,293732.44
4,1,USA,2009,4945292.0,632685.1,4097179.0,3489779.00,4529716.0,6058554.0,403804.01
...,...,...,...,...,...,...,...,...,...,...
139,8,Ukraine,2018,3524.0,2600.0,5844615.0,702257.61,104315.0,129.0,20819.87
140,8,Ukraine,2019,4343.0,3417.0,5844615.0,702257.61,110662.0,546.0,25302.20
141,8,Ukraine,2020,3958.0,2755.0,5844615.0,702257.61,115968.0,703.0,29132.87
142,8,Ukraine,2021,3885.0,2260.0,5844615.0,702257.61,123657.0,616.0,30940.96
143,8,Ukraine,2022,2837.0,1680.0,5844615.0,702257.61,135562.0,1281.0,28494.54

In [ ]:
#Enregistrer le dataframe transform√© en fichier csv
df.to_csv('trasformed_Assets.csv', index=False)